* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

figure, h1 {
    text-align: center;
}

img {
    -o-user-drag: none;
    -ms-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
}

h1 {
    margin-bottom: 1rem; /* 16px */
}


/* FORMATAÇÕES DA PÁGINA PERFIL */

#tela_perfil {
    width: 100%;
    height: 100vh;
    font-size: 1.5rem;
    margin: 0 auto;
    color: #191919;
}
/* responsividade */
@media (max-width: 720px) {
    #tela_perfil {
        width: 90%;
    }
    #tela_perfil h1 {
        font-size: 1.25rem;
    }
    #foto_perfil {
        top: 10px;
    }
    .localizacao, #menu_top a {
        font-size: 0.75rem;
    }
}

#foto_perfil {
    width: 150px;
    height: 150px;
    border: 5px solid rgba(0, 0, 0, 0.441);
    border-radius: 100px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0); 
    position: absolute;
    top: 20px;
    left: 20px;
}

figcaption {
    display: none;
}

header h1 {
    font-size: 2rem;
    color: #191919;
    
}

header {
    height: 350px;
    background: rgb(247, 247, 247);
    border-radius: 8px;
    box-shadow: 0px 0px 5px #939393;
    padding: 20px;
    position: relative;
    
}

#dados {
    width: 100%;
    margin-top: 120px;
}

blockquote {
    background: rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px #ccc;
}

#locais {
    line-height: 2rem; /* altura da linha */
    margin-top: 20px;
    margin-left: 1.5rem;
    font-size: 1rem;
}

.localizacao {
    color: rgb(0, 0, 0);
}

#menu_top {
    float: right;
}

#menu_top a {
    background: #000000;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
}

#menu_top a:hover {
    text-decoration: underline;
}

section {
    width: 100%;
    background: rgb(247, 247, 247);
    padding: 1.5rem;
    border-radius: 8px;
}

article {
    background: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 0px 0px 5px #ccc;
}

article h2, #info-contatos h2 {
    font-size: 1.85rem;
    margin-bottom: 1rem;
}

article ul, article ol {
    margin-left: 1.5rem;
}

article li {
    line-height: 2.5rem;
}

#info-contatos h3 {
    font-size: 1rem;
    margin-top: 1rem;
}

#info-contatos p {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
}

#info-contatos a {
    text-decoration: none;
    color: #1D495F;
}

article h2, #formulario h2 {
    font-size: 1.85rem;
    margin-bottom: 1rem;
}

#formulario h3 {
    font-size: 1rem;
    margin-top: 1rem;
}

#formulario p {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
}

#formulario a {
    text-decoration: none;
    color: #1D495F;
}

/* FORMATAÇÃO DO RODAPÉ */
#rodape {
    background: rgb(247, 247, 247);
    padding: 1.5rem;
    border-radius: 2px;
    text-align: center;
}

#menu_rodape {
    padding: 2rem;
}

#menu_rodape ul li {
    list-style: none;
    display: inline-block;
}

#menu_rodape a, #ir_para_topo {
    text-decoration: none;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
}

#menu_rodape a:hover {
    text-decoration: underline;
    background-color: rgb(247, 247, 247);
}

footer p {
    text-align: center;
    font-size: 1rem;
}

/* FORMATAÇÃO DE PROJETOS */
#header_projetos {
    height: 120px;
}

.img_projeto {
    border-radius: 10px;
    width: 100%;
}

/* FORMATÇÃO DE FORMULÁRIO */
.container{
    background: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #000000;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #000000;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #ffffff;
  }
   #prg{
    color: black;
  }
  .topic{
    color: black;
  }

  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #fefdff;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 16px;
    background: #ffffff;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: rgb(255, 255, 255);
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background:  #000000;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background: #000000;
  }
  


/* FORMATAÇÃO DOS CARDS */
  .card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
}
.card-deck .card {
    margin-bottom: 15px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
